<%- include('../partials/header.ejs') %>



<% if(studentInfo?.parentname){ %>
    <ul class="displayinfo">
        
        <h2>Your Information</h2>
        <p>Parent Name: <%= studentInfo.parentname %></p>
        <p>Phone Number: <%= studentInfo.phone %></p>
        <p>Home Address: <%= studentInfo.address %></p>
        <p>Homeroom Teacher: <%= studentInfo.homeroomteacher %></p>
        
        
    </ul>
    <a href="/student/information/edit">Edit Your Contact Form</a>

<% } else { %>
    <h3>You have no student information</h3>
    <a href="/student/information/new">Create Your Contact Form</a>
<% } %>


<%- include('../partials/footer.ejs') %>